$rajsite-body-font-family: var(--rajsite-body-font-family);
$rajsite-header-font-family: var(--rajsite-header-font-family);
$rajsite-popup-background-color: var(--rajsite-popup-background-color);
$rajsite-popup-font-color: var(--rajsite-popup-font-color);
$rajsite-90-font-color: var(--rajsite-90-font-color);
$rajsite-60-font-color: var(--rajsite-60-font-color);
$rajsite-30-font-color: var(--rajsite-30-font-color);
$rajsite-application-background-color: var(--rajsite-application-background-color);
