---
import './styles.css';
import { site } from '../../site';

interface Props {
    title: string;
    description: string;
    slug: string;
}

const { title, description, slug } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,minimum-scale=1">
        <meta name="description" content={ description}>
        <link rel="canonical" href={`${site.url}${slug}`}>
        <title>{title} | {site.name}</title>
    </head>

    <body>
        <header class="site-header">
            <a href="/" class="logo"><span class="logo"><img src={ site.logo } width="48" height="48" alt="Rajsite logo" /></span></a>
            <div class="page-links">
                <a class="page-link" href="/">Home</a><span> • </span><a class="page-link" href="/about">About</a>
            </div>
        </header>

        <slot></slot>

    </body>
</html>
