---
import { site } from '../../site';
---
<footer class="site-footer">
    <section class="copyright">All content copyright <a href={ site.contact_url}>{ site.name }</a> &copy; { site.year } &bull; All rights reserved.</section>
    <section class="poweredby">Made with <a href="https://pages.github.com/">Github Pages</a> and <a href="https://astro.build/">Astro</a></section>
    <a rel="me" href="https://mastodon.social/@rajsite" style="display:none;">mastodon.social</a>
    <a rel="me" href="https://fosstodon.org/@rajsite" style="display:none;">fosstodon</a>
</footer>
