---
import { site } from '../../site';
---
<style lang="scss">
@use '../../styles/tokens.scss';

.site-footer {
  margin: 0 auto;
  padding: 48px 0;
  width: 100%;
  max-width: 700px;
  font-size: 12px;
  text-align: center;
  color: tokens.$rajsite-90-font-color;
  line-height: 17.6px;
}

.site-footer a {
  color: tokens.$rajsite-60-font-color;
  text-decoration: none;
}

.site-footer a:hover {
  color: tokens.$rajsite-30-font-color;
}
</style>
<footer class="site-footer">
    <section class="copyright">All content copyright <a href={ site.contact_url}>{ site.name }</a> &copy; { site.year } &bull; All rights reserved.</section>
    <section class="poweredby">Made with <a href="https://pages.github.com/">Github Pages</a> and <a href="https://astro.build/">Astro</a></section>
    <a rel="me" href="https://mastodon.social/@rajsite" style="display:none;">mastodon.social</a>
    <a rel="me" href="https://fosstodon.org/@rajsite" style="display:none;">fosstodon</a>
</footer>
