---
import { site } from '../../site';
---

<style lang="scss">
@use '../../styles/tokens.scss';

.site-header {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: 16px auto 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media only screen and (max-width: 800px) {
  .site-header {
    padding: 0 16px;
  }
}

.site-header .page-links {
  display: block;
  position: absolute;
  top: 10px;
  right: 16px;
  font-weight: 200;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
}

.site-header .page-links a {
  text-decoration: none;
  color: #999999;
}

.site-header .page-links a:hover {
  color: #333333;
}
</style>
<header class="site-header">
    <a href="/" class="logo"><span class="logo"><img src={ site.logo } width="48" height="48" alt="Rajsite logo" /></span></a>
    <div class="page-links">
        <a class="page-link" href="/">Home</a><span> • </span><a class="page-link" href="/about">About</a>
    </div>
</header>
