<style lang="scss">
.markdown {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    color: #333333;

    :global(h1),
    :global(h2),
    :global(h3) {
        font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    }

    :global(h3),
    :global(h4),
    :global(h5),
    :global(h6) {
        letter-spacing: -0.02em;
        font-weight: 700;
        font-style: normal;
        font-size: 24px;
        line-height: 1.3;
        margin-top: 50px;
        margin-bottom: 0px;
        font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    }

    :global(h3) {
        font-size: 36px;
    }

    :global(h2),
    :global(h1) {
        letter-spacing: -0.02em;
        font-weight: 700;
        font-style: normal;
        font-size: 42px;
        line-height: 1.2;
        margin-top: 50px;
        margin-bottom: 0px;
    }

    :global(p) {
        font-weight: 400;
        font-style: normal;
        font-size: 22px;
        line-height: 1.59;
        letter-spacing: -.002em;
        margin-top: 30px;
        margin-bottom: 0;
        color: #333333;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
    }

    :global(a) {
        color: #333333;
        text-decoration: underline;
    }

    :global(img),
    :global(lite-youtube) {
        margin-top: 30px;
    }

    :global(figure) {
        margin: 30px 0px 0px 0px;
    }

    :global(figure img) {
        max-inline-size: 100%;
        block-size: auto;
        text-align: center;
    }

    :global(figcaption p) {
        font-weight: 400;
        font-style: italic;
        font-size: 16px;
        line-height: 1.3;
        color: #666665;
        outline: 0;
        z-index: 300;
        /* Grrr need to get rid of it */
        text-align: center;
        margin-top: 15px;
    }

    :global(hr) {
        border: 0;
        padding: 0;
        display: block;
        width: 15%;
        margin: 30px auto;
        border: 0px solid #dddddd;
        border-top: 1px solid #dddddd;
    }

    :global(blockquote) {
        margin: 0 0 30px;
        margin-left: -26px;
        border-left: 3px solid #57ad68;
        padding-left: 20px;
    }

    :global(blockquote p) {
        letter-spacing: 0.01rem;
        font-weight: 400;
        padding-bottom: 3px;
    }

    :global(ul),
    :global(ol) {
        padding: 0;
        margin: 0;
    }

    :global(li) {
        padding: 0;
        font-weight: 400;
        font-style: normal;
        font-size: 23px;
        line-height: 30px;
        margin-left: 30px;
        margin-bottom: 12px;
        padding-top: 2px;
    }

    :global(ol li) {
        list-style-type: decimal;
    }

    @media (prefers-color-scheme: dark) {
    :global(.astro-code),
    :global(.astro-code span) {
        color: var(--shiki-dark) !important;
        background-color: var(--shiki-dark-bg) !important;
    }
    }
}
</style>
<div class="markdown">
    <slot></slot>
</div>
