---
import htmlString from './icon-linkedin.svg?raw';
---
<span class="social-media-icons">
    <a href="https://linkedin.com/in/milanraj" title="milanraj on LinkedIn"><span class="icon"><Fragment set:html={htmlString} /></span><span class="username">milanraj</span></a>
</span>
