---
const { default: htmlString } = await import(`./icon-github.svg?raw`);
---
<span class="social-media-icons">
<a href="https://twitter.com/rajsite" title="rajsite on Twitter"><span class="icon"><Fragment set:html={htmlString} /></span><span class="username">rajsite</span></a>
</span>
